Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Update package-lock with the new version
  package-lock.json
Due: none

Add an automated release workflow
  .github/workflows/release.yml
  RELEASE.md
  package.json
Due: none

Remove 'peer' property from dependency in package-lock
  package-lock.json
Due: none

Drop the extra v
  .github/workflows/release.yml
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Fix typo in action-gh-release usage
  .github/workflows/release.yml
Due: none

Add an AGENTS.md and CLAUDE.md for using an AI agent to develop
  AGENTS.md
  CLAUDE.md
Due: none

format agents properly
  AGENTS.md
Due: none

Add vip_governance__deny_message filter for customising block-deny snackbar
  AGENTS.md
  README.md
  build/index.asset.php
  build/index.js
  package-lock.json
  package.json
  src/deny-message.js
  src/deny-message.test.js
  src/index.js
  tests/e2e/default-administrator-rule-check.spec.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

chore: pin third-party GitHub Actions to commit SHAs
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: none

Fix up the agents/claude/readme files and add a local release workflow command
  AGENTS.md
  CLAUDE.md
  README.md
  RELEASE.md
  bin/release
  package-lock.json
  package.json
Due: none

Fix up the agents/claude/readme files and add a local release workflow command
  .github/dependabot.yml
Due: none

Update the release command
  AGENTS.md
  RELEASE.md
  bin/release
Due: none

Drop the dry run
  AGENTS.md
  RELEASE.md
  bin/release
Due: none

Upgrading all deps
  .eslintignore
  .eslintrc.js
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .lintstagedrc
  .nvmrc
  .phpcs.xml.dist
  AGENTS.md
  CLAUDE.md
  README.md
  build/index.asset.php
  build/index.js
  composer.json
  composer.lock
  eslint.config.js
  package-lock.json
  package.json
  phpunit.xml.dist
  tests/GovernanceUtilitiesTest.php
  tests/NestedGovernanceProcessingTest.php
  tests/RulesParserTest.php
  tests/e2e/default-administrator-rule-check.spec.js
  tests/phpunit/multisite.xml
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/composer/platform_check.php
  vendor/seld/jsonlint/README.md
  vendor/seld/jsonlint/bin/jsonlint
  vendor/seld/jsonlint/src/Seld/JsonLint/InvalidEncodingException.php
  vendor/seld/jsonlint/src/Seld/JsonLint/JsonParser.php
  vendor/seld/jsonlint/src/Seld/JsonLint/Lexer.php
  vendor/seld/jsonlint/src/Seld/JsonLint/Utf8Validator.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix the wp-env config for tests and dev
  .github/workflows/unit-tests.yml
  .wp-env.json
  .wp-env.test.json
  README.md
  composer.json
  package-lock.json
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Clean up the PHP code, Add tests, Raise the min PHP/WP versions
  .github/workflows/unit-tests.yml
  .phpcs.xml.dist
  AGENTS.md
  CLAUDE.md
  build/index.asset.php
  build/index.js
  composer.json
  composer.lock
  governance-schema.json
  governance/analytics.php
  governance/block-locking.php
  governance/governance-utilities.php
  governance/init-governance.php
  governance/nested-governance-processing.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  governance/settings/settings-view.php
  governance/settings/settings.php
  phpunit.xml.dist
  tests/GovernanceUtilitiesTest.php
  tests/InitGovernanceTest.php
  tests/NestedGovernanceProcessingTest.php
  tests/RestApiTest.php
  tests/RulesParserTest.php
  tests/SettingsTest.php
  vendor/composer/installed.php
  vendor/composer/platform_check.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Rectify the PHP versions in the workflows
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  AGENTS.md
  blueprint.json
  build/index.asset.php
  build/index.js
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Bump min version to 6.8
  .github/workflows/unit-tests.yml
  .phpcs.xml.dist
  AGENTS.md
  CLAUDE.md
  tests/InitGovernanceTest.php
  tests/e2e/default-administrator-rule-check.spec.js
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update the version it works up until
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Implement a relaxing rule parser in line with code reviews
  governance-schema.json
  governance/governance-utilities.php
  governance/init-governance.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  governance/settings/settings-view.php
  governance/settings/settings.css
  governance/settings/settings.php
  src/block-utils.test.js
  tests/InitGovernanceTest.php
  tests/RestApiTest.php
  tests/RulesParserTest.php
  tests/SettingsTest.php
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

update README
  README.md
Due: none

First pass of a full clientside rewrite
  build/index.asset.php
  build/index.js
  build/settings.asset.php
  build/settings.js
  build/settings.js.map
  eslint.config.js
  governance/init-governance.php
  governance/settings/settings-view.php
  governance/settings/settings.css
  governance/settings/settings.js
  governance/settings/settings.php
  package-lock.json
  package.json
  src/block-locking.jsx
  src/block-locking.test.js
  src/block-utils.js
  src/block-utils.test.js
  src/index.js
  src/nested-governance-loader.js
  src/nested-governance-loader.test.js
  src/nested-settings-filter.js
  src/nested-settings-filter.test.js
  src/settings/index.js
  src/settings/rules-viewer.js
  src/settings/rules-viewer.test.js
  tests/e2e/settings-page.spec.js
  webpack.config.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Tweak based on a review
  .gitignore
  build/index.asset.php
  build/index.js
  build/settings.asset.php
  build/settings.js
  build/settings.js.map
  package-lock.json
  package.json
  src/block-locking.jsx
  src/block-locking.test.js
  src/index.js
  src/nested-settings-filter.js
  src/nested-settings-filter.test.js
  src/settings/rules-viewer.js
  src/settings/rules-viewer.test.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

1.0.17
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the release script
  .github/workflows/release.yml
  package.json
Due: none

1.0.18
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update development dependencies to resolve security alerts
  build/index.asset.php
  build/settings.asset.php
  build/settings.js
  package-lock.json
  package.json
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

1.0.19
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs
