Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

Update the examples provided for wildcards
  README.md
  governance-schema.json
Due: none

Optimize the useSetting hook to be a lot faster
  build/index.asset.php
  build/index.js
  src/index.js
  src/nested-governance-loader.js
  tests/test-nested-governance-processing.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Format all the files as per prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/unit-tests.yml
  .vscode/launch.json
  .wp-env.json
  README.md
  blueprint.json
  build/index.js
  composer.json
  governance-rules.json
  governance-schema.json
  package.json
  src/block-locking.jsx
  tests/private/governance-rules.json
Due: eslint . --ext .js

Lint more files on commit
  .lintstagedrc
Due: none

Add build dir to be ignored and rebuild the index file
  .prettierignore
  build/index.js
Due: eslint . --ext .js

Simplify the verification of the path, when a custom one is provided
  build/index.asset.php
  build/index.js
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Switch the file ending to be json
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Add second example for parent block nesting wildcard limitations
  README.md
Due: none

Split wildcard paths in one pass
  build/index.asset.php
  build/index.js
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Reverse if condition order for readibility
  build/index.asset.php
  build/index.js
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix indentation
  package.json
Due: none

Update RELEASE.md with signed tag instructions
  RELEASE.md
Due: none

Bump supported WP version and plugin version
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Add time-based sampling for usage analytics
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Update actions/upload-artifact to v4
  .github/workflows/e2e-tests.yml
Due: none

Test test failures
  tests/e2e/default-administrator-rule-check.spec.js
Due: eslint . --ext .js

Revert "Test test failures"
  tests/e2e/default-administrator-rule-check.spec.js
Due: eslint . --ext .js

Update package.json version
  package-lock.json
  package.json
Due: none

Update the README and the plugin versions
  README.md
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the packages, up the version and ensure the name of the plugin is correct
  package-lock.json
  package.json
  vendor/autoload.php
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update build process, and ensure the zip is correct
  build/index.asset.php
  build/index.js
  package.json
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Correct the plugin version
  package-lock.json
  package.json
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update packages, format the files and ensure everything works
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .lintstagedrc
  .prettierignore
  .vscode/launch.json
  .wp-env.json
  README.md
  blueprint.json
  build/index.asset.php
  build/index.js
  composer.json
  composer.lock
  governance-rules.json
  governance-schema.json
  package-lock.json
  package.json
  src/block-locking.jsx
  tests/private/governance-rules.json
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/seld/jsonlint/README.md
  vendor/seld/jsonlint/composer.json
  vendor/seld/jsonlint/src/Seld/JsonLint/JsonParser.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Revert some unecessary formatting
  .prettierignore
  README.md
  governance-rules.json
  governance-schema.json
Due: none

Up the version
  README.md
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Use the production build
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Bump minimum supported PHP version to 8.1
  .github/workflows/unit-tests.yml
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Set the 8.1 v in composer and ensure only production vendor files are present
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/composer/platform_check.php
Due: phplint, vendor/bin/phpcs

Disable e2e tests for now
  .github/workflows/e2e-tests.yml
Due: none

Bump the version in the package.json
  package-lock.json
  package.json
Due: none

Remove husky and use a simpler pre-commit hook
  .gitattributes
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs

Tweak the package.json to add the hooks installation
  package.json
Due: none

Adjust the PHP version check
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Bump the plugin version again
  .phpcs.xml.dist
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update Blueprint's PHP version to 8.1
  blueprint.json
Due: none

Revise installation and activation instructions
  README.md
Due: none

Work to fix 114
  README.md
  governance/governance-utilities.php
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs

linting updates
  governance/governance-utilities.php
  package-lock.json
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs

fixing faulty test
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs

Update plugin version for 6.9
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  eslint . --ext .js: any of: *.js
