Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

Add note about copying governance schema with rules
  README.md
Due: none

Replace editor specific errors with general notice and link to settings page
  governance/init-governance.php
  package-lock.json
  package.json
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add beta warning to README
  README.md
Due: none

Add RELEASE docs
  RELEASE.md
Due: none

Add dummy governance rules section with CSS
  governance/settings/settings.css
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Fix governance error display on settings page
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Load governance configuration in one spot, record error analytics
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Add error analytics code back
  governance/analytics.php
Due: phplint, vendor/bin/phpcs

Add support for combining the blockSettings as well as the allowedFeatures between the role specific rule and default rule
  README.md
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Change the tense of the examples in the README
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix RELEASE.md release page link
  RELEASE.md
Due: none

Change GovernanceUtilities to bubble a WP_Error instead of throwing
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Remove accidental double importa
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Attempting to get the current role from a selector
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Add test code
  src/block-locking.jsx
Due: none

Add back disabledMove filter
  src/block-locking.jsx
Due: none

Adding a new rest endpoint for getting the roles specific rules and updating the settings panel
  governance/governance-utilities.php
  governance/rest/rest-api.php
  governance/settings/settings.php
  governance/settings/settings.view.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Get the rest endpoint working
  governance-rules.json
  governance/rest/rest-api.php
  governance/settings/settings.view.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Consume and show the rules from the rest endpoint
  governance/rest/rest-api.php
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Attempt to prettify the code
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Add in the rules back
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Revert the rules back to default
  governance-rules.json
Due: none

Make the dropdown easier to use
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Add more test code
  src/block-locking.jsx
Due: none

Replace "moveBlocks" with "lockBlocks" to fix markup changes
  README.md
  governance-rules.json
  governance-schema.json
  governance/block-locking.php
  src/block-locking.jsx
Due: phplint, vendor/bin/phpcs

Move the js code to a separate js file, and enqueue along with wp-api correctly
  governance/settings/settings.js
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Make the UI for both rules more consistent
  governance/rest/rest-api.php
  governance/settings/settings.css
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Add in error handling to the view page
  governance/rest/rest-api.php
  governance/settings/settings.js
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update the readme to add a section on endpoints
  README.md
Due: none

Fix "*" rule disallowing children if a default rule is present, refactor regex utility function
  src/block-utils.js
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Remove min/max property helpers in schema
  governance-schema.json
Due: none

Code Review changes to reword the endpoint text in the README, use more CSS instead of p tags, simplify the UI and make the scope of the function local
  README.md
  governance/settings/settings.css
  governance/settings/settings.js
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Adding an example gif of the admin settings panel
  vip-governance-admin-settings-panel.gif
Due: none

Add a gif to the settings in the README
  README.md
Due: none

Add new animation for admin settings
  vip-governance-admin-settings-animation.gif
Due: none

Remove the duplicate file
  vip-governance-admin-settings-panel.gif
Due: none

Update the example link
  README.md
Due: none

Update the example to fix it in the readme
  README.md
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  eslint . --ext .js: any of: *.js
