Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

Try removing hardcoded plugin directory
  .wp-env.json
Due: none

Add upload artifact step for playwright tests
  .github/workflows/wp-tests.yml
Due: none

Add upterm for debugging
  .github/workflows/wp-tests.yml
Due: none

Fix debug session to run on failure
  .github/workflows/wp-tests.yml
Due: none

split the e2e and unit tests
  .github/workflows/e2e-tests.yml
  .github/workflows/wp-tests.yml
  .wp-env.json
Due: none

Fix the name of the tests
  .github/workflows/unit-tests.yml
Due: none

deleted file
  .github/workflows/wp-tests.yml
Due: none

Remove debugging code
  .github/workflows/e2e-tests.yml
Due: none

Expand the documentation included with the plugin for release
  README.md
Due: none

Add the double plugin loading logic, and simplify the analytics constants
  build/index.asset.php
  build/index.js
  governance/analytics.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Adjust the skipping of tests, upgrade the vipcs composer package, and fix the linting problems
  composer.json
  composer.lock
  governance/analytics.php
  governance/block-locking.php
  governance/governance-utilities.php
  governance/init-governance.php
  governance/nested-governance-processing.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  governance/settings/settings-view.php
  governance/settings/settings.php
  phpcs.xml.dist
  tests/test-governance-utilities.php
  tests/test-nested-governance-processing.php
  tests/test-rules-parser.php
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Remove the repo mirroring action, upgrade the plugin and schema version to 1.0.0, adjust the codeowners to bistro adn add a license
  .github/CODEOWNERS
  .github/workflows/mirror-wpcomvip.yml
  LICENSE
  README.md
  governance-rules.json
  governance-schema.json
  package.json
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Change the version in the tests to be 1.0.0
  tests/private/governance-rules.json
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Update README.md
  README.md
Due: none

CR commits to the README, and reverse the array shorthand changes
  README.md
  governance/analytics.php
  governance/governance-utilities.php
  governance/init-governance.php
  governance/nested-governance-processing.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  governance/settings/settings.php
  package.json
  phpcs.xml.dist
  tests/test-nested-governance-processing.php
  tests/test-rules-parser.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Remove the beta tag, use the send_pixel, and add the schema location
  README.md
  governance/analytics.php
Due: phplint, vendor/bin/phpcs

Tweak spacing in the analytics changes
  governance/analytics.php
Due: phplint, vendor/bin/phpcs

Set the schema to be the new url everywhere
  governance-rules.json
  tests/private/governance-rules.json
Due: none

Add a disclaimer that the plugin is meant for VIP sites only
  README.md
Due: none

Remove mentions of the wpcomvip org, and update instructions for install
  README.md
Due: none

Update the config used for determining if the plugin is loaded or not
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Updated build of the plugin
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add a missing section for the installation
  README.md
Due: none

Guard the private folder access to only when it's defined, and update the README as well
  README.md
  build/index.asset.php
  build/index.js
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Added more error handling for when the wp-error is given back
  README.md
  governance/governance-utilities.php
  governance/init-governance.php
  governance/settings/settings.php
Due: phplint, vendor/bin/phpcs

Tweak the governance_error being set to false
  governance/settings/settings.php
Due: phplint, vendor/bin/phpcs

Update RELEASE.md
  RELEASE.md
Due: none

Update the plugin name for post release, and remove the developer NPM packages
  README.md
  build/index.asset.php
  build/index.js
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add two other packages that were previously in devDependencies
  package-lock.json
  package.json
Due: none

Revert the dev dependencies upgrade
  package-lock.json
  package.json
Due: none

Revert the package-lock.json as well
  package-lock.json
  package.json
Due: none

Update the settings page name to match the plugin name
  governance/settings/settings-view.php
Due: phplint, vendor/bin/phpcs

Perform the maintenance task for VIP plugins
  .gitattributes
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  .phpcs.xml.dist
Due: none

Update the URI of the plugin
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the name of the plugin in the settings page
  README.md
  governance/settings/settings.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Upgrade version in package.json
  package.json
Due: none

Add a filter to customize the file path location
  README.md
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Tweak the error message
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

tweak filter description
  README.md
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  eslint . --ext .js: any of: *.js
