Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint --quiet . --ext .js"
    ]
}

Updating lintstaged file to exclude js for now
  .lintstagedrc
Due: none

Update composer file with name and description
  composer.json
  composer.lock
Due: none

Add missing phpcs script
  composer.json
Due: none

Fix lint:js formatting, global, and import errors
  .eslintrc.js
  package-lock.json
  package.json
  src/index.js
Due: eslint --quiet . --ext .js

Add eslint workflow
  .github/workflows/eslint.yml
Due: none

Remove copied working directories
  .github/workflows/eslint.yml
Due: none

Fix linting to use lint:js action
  .github/workflows/eslint.yml
Due: none

Add wp-scripts package so that plugin can build
  package-lock.json
  package.json
Due: none

Update package lock file
  package-lock.json
Due: none

Run linting on commit and add ignores for false security injection issues
  .lintstagedrc
  package.json
  src/index.js
Due: eslint --quiet . --ext .js

Separate the interactive and insertion pieces
  block-editor-filters.php
  package.json
  src/js/index.js
  src/php/block-editor-filters.php
  src/php/interactive-governance.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Move around the error handling back to JS
  src/js/index.js
  src/php/block-editor-filters.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Fix up the various issues in the php code
  block-governance.json
  package.json
  src/index.js
  src/init-governance.php
  src/interactions.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Fix JS double-enqueueing in iframe
  enqueue.php
Due: phplint, vendor/bin/phpcs

Fix up the errors related to the new double loading merge
  src/init-governance.php
Due: phplint, vendor/bin/phpcs

Fixed the path errors due to the restructring
  .vscode/launch.json
  .wp-env.json
  src/init-governance.php
Due: phplint, vendor/bin/phpcs

Move the paths around to separate the interactions code more
  block-governance.json
  src/init-governance.php
  src/interactions/nested-governance-processing.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Reverted the class conversation and made everything static again
  src/init-governance.php
  src/interactions/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Revert the switch of static:: to self::
  src/interactions/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

one more revert
  src/interactions/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Separate the governance configs, add in support for block insertion restriction and update the readme
  README.md
  insertions-governance.json
  interactions-governance.json
  src/index.js
  src/init-governance.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Add the ability to restrict insertions 1 layer deep, and add a sample config
  insertions-governance.json
  src/index.js
Due: eslint --quiet . --ext .js

Add basic rules for quote/media-text and add in the expected final combined json file
  combined-governance.json
  insertions-governance.json
  src/index.js
Due: eslint --quiet . --ext .js

Propose a new structure for the combined rules.json, and add a parsing/validation method for that
  combined-governance.json
  governance-rules.json
  src/init-governance.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Remove the new proposal as it's going to be in another branch
  governance-rules.json
  src/init-governance.php
Due: phplint, vendor/bin/phpcs

Forgot to remove another file
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the README and add support for blocking as well
  .gitignore
  README.md
  src/index.js
Due: eslint --quiet . --ext .js

Early return on empty insertion rules to prevent JS error
  src/index.js
Due: eslint --quiet . --ext .js

Add filters to wrap hard-coded blocks in disabled wrappers and restrict editor settings
  src/index.js
  src/interactions/block-locking.json
  src/interactions/block-locking.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Refactor the structure of the plugin to keep the js and php files separate
  governance/init-governance.php
  governance/nested-governance-processing.php
  src/index.js
  src/insertion-governance-loader.js
  src/nested-governance-loader.js
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Add in support for roles to the insertion rules
  governance/init-governance.php
  insertions-governance.json
  src/insertion-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Re-order the final array to not have the wrong index, and pick up only the first rule client side
  governance/init-governance.php
  src/index.js
  src/insertion-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Reword role to roles
  governance/init-governance.php
  insertions-governance.json
Due: phplint, vendor/bin/phpcs

Refactor block locking code for hardcoded rules
  src/interactions/block-locking.json
  src/interactions/block-locking.php
Due: phplint, vendor/bin/phpcs

Simplify the rules down as discussed to eliminate the complicated structures in the json file
  governance/init-governance.php
  insertions-governance.json
  src/insertion-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Add types to rules
  governance/init-governance.php
  insertions-governance.json
Due: phplint, vendor/bin/phpcs

Allow regex for block names, allow multiple rules per user and assume file is stored in private directory by default
  governance/init-governance.php
  insertions-governance.json
  src/index.js
  src/insertion-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint --quiet . --ext .js

Update the linting rules
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
  phpcs.xml.dist
  src/index.js
  src/insertion-governance-loader.js
  src/nested-governance-loader.js
Due: eslint --quiet . --ext .js

Switch up the basic set of rules, and add in better support for multiple rules
  insertions-governance.json
  src/insertion-governance-loader.js
Due: eslint --quiet . --ext .js
