Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix up the README
  README.md
Due: none

Update the package lock file
  package-lock.json
Due: none

Attempting to switch the e2e tests to use vip dev-env
  .github/workflows/e2e-tests.yml
  playwright.config.js
  tests/bin/setup-env.sh
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Fixing up the caching path for node
  .github/workflows/e2e-tests.yml
Due: none

Tweak the working direcotyr for the action
  .github/workflows/e2e-tests.yml
Due: none

Forgot a folder
  .github/workflows/e2e-tests.yml
Due: none

Correct the path
  .github/workflows/e2e-tests.yml
Due: none

chmod it
  .github/workflows/e2e-tests.yml
Due: none

Went too far back in the path
  tests/bin/setup-env.sh
Due: none

The skeleton is where though shall look
  tests/bin/setup-env.sh
Due: none

Got the relative path wrong
  .github/workflows/e2e-tests.yml
Due: none

Got the path right relative to the core repo
  .github/workflows/e2e-tests.yml
Due: none

Correct path in script
  tests/bin/setup-env.sh
Due: none

Tweak name of plugin to activate
  tests/bin/setup-env.sh
Due: none

Stop using latest WP as that's set by default and pass the username/pwd correctly
  tests/bin/setup-env.sh
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Port lodash
  .github/workflows/e2e-tests.yml
  build/index.asset.php
  build/index.js
  playwright.config.js
  src/nested-governance-loader.js
  tests/bin/setup-env.sh
  tests/e2e/globalSetup.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Bump version to 1.0.3, fix readme CR, and strip out the senstive customer paths
  README.md
  governance-rules.json
  governance/governance-utilities.php
  package.json
  src/nested-governance-loader.js
  tests/private/governance-rules.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add the rules back
  governance-rules.json
  tests/private/governance-rules.json
Due: none

Revert e2e changes, and fix error message path for file's contents being invalid as well
  governance/governance-utilities.php
  package-lock.json
  tests/e2e/globalSetup.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Dispose the request in e2e
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Correct the security problem
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Fix empty rules showing up
  governance/settings/settings-view.php
  governance/settings/settings.php
Due: phplint, vendor/bin/phpcs

Update governance/governance-utilities.php
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

php cs errors
  governance/governance-utilities.php
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Simplify the packages that are used, and update the linting
  package-lock.json
  package.json
  playwright.config.js
  src/block-utils.js
  src/block-utils.test.js
  src/index.js
  src/nested-governance-loader.js
  tests/e2e/globalSetup.js
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Reverse a package upgrade to reduce line changes
  package-lock.json
  package.json
Due: none

Repeat the package-lock.json reduction
  package-lock.json
  package.json
Due: none

Revert the package-lock
  .prettierignore
  package-lock.json
Due: none

Update packages without blowing up the whole lock file
  .prettierignore
  package-lock.json
  package.json
Due: none

Upgrade some more dependencies
  package-lock.json
  package.json
Due: none

Add the block locking method
  src/block-locking.jsx
Due: none

New build for the JS pack
  build/index.asset.php
  build/index.js
  package.json
  src/block-locking.jsx
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

set the max tested WP version to 6.5
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Upgrade to php 8 and move the devDependencies to actual dependencies
  .phpcs.xml.dist
  build/index.asset.php
  build/index.js
  composer.json
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Attempting to fix the non-vip deployment problem
  .wp-env.json
  build/index.asset.php
  build/index.js
  governance/governance-utilities.php
  governance/init-governance.php
  governance/settings/settings.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix example for vip_governance__is_block_allowed_for_editing
  README.md
Due: none

enqueue scripts and styles using url
  governance/init-governance.php
  governance/settings/settings.php
Due: phplint, vendor/bin/phpcs

Update build files
  build/index.asset.php
  build/index.js
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Bump version to 1.0.6
  package-lock.json
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  eslint . --ext .js: any of: *.js
