Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Remove the default rule restrictions
  src/block-utils.js
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Prevent disabling blocks that are nested inside a parent
  src/block-locking.jsx
Due: none

Update readme to reflect limitations
  README.md
Due: none

Convert settings page into view template, use i18n on strings
  governance/settings/settings.php
  governance/settings/settings.view.php
  governance/wp-admin-panel.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Add setting to disable plugin
  governance/init-governance.php
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Add dummy governance rules section with CSS
  governance/settings/settings.css
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Split governance rules parsing to allow direct JSON retrieval for admin page
  governance/governance-utilities.php
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Add settings section for displaying rules and errors when present
  governance/settings/settings.css
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Style settings page checkbox text
  governance/settings/settings.php
Due: phplint, vendor/bin/phpcs

Replace editor specific errors with general notice and link to settings page
  governance/init-governance.php
  package-lock.json
  package.json
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add built JS to repository files
  .gitignore
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

editorial changes to Readme
  README.md
Due: none

Add RELEASE docs
  RELEASE.md
Due: none

Add beta warning to README
  README.md
Due: none

Add note about copying governance schema with rules
  README.md
Due: none

Minor wording change in RELEASE.md
  RELEASE.md
Due: none

Fix RELEASE.md release page link
  RELEASE.md
Due: none

Change GovernanceUtilities to bubble a WP_Error instead of throwing
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Add error analytics code back
  governance/analytics.php
Due: phplint, vendor/bin/phpcs

Load governance configuration in one spot, record error analytics
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Fix governance error display on settings page
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Add support for combining the blockSettings as well as the allowedFeatures between the role specific rule and default rule
  README.md
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Add error handling for failed file_get_contents() calls
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Add error analytics information to README
  README.md
Due: none

Update README.md
  README.md
Due: none

Change the tense of the examples in the README
  README.md
Due: none

Add a governance panel to wp-admin
  governance/wp-admin-panel.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Show the validation result for the schema in the admin panel, as well as debug info related to the plugin
  governance/init-governance.php
  governance/wp-admin-panel.php
Due: phplint, vendor/bin/phpcs

Update the todo comment on the plugin
  governance/wp-admin-panel.php
Due: phplint, vendor/bin/phpcs

Move the parsing methods to a separate utility function
  governance/governance-utilities.php
  governance/init-governance.php
  governance/wp-admin-panel.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs
