Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Update the analytics to be VIP site only, and start adding phpdocs
  README.md
  governance/analytics.php
  phpcs.xml.dist
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Finish adding the docs to everything
  governance/nested-governance-processing.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs

Startup mysql for playwright as well
  .github/workflows/playwright.yml
Due: none

Remove the Mysql startup
  .github/workflows/phpunit.yml
  .github/workflows/playwright.yml
Due: none

Remove call to removed schema validation function
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs

Simplify the generation of settings by using the selectors API
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Simplify the CSS generation so it's faster, and doesn't go over the settings that we don't support
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Drop the the. Just params
  governance/analytics.php
  governance/block-locking.php
  governance/governance-utilities.php
  governance/init-governance.php
  governance/nested-governance-processing.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  governance/settings/settings.php
Due: phplint, vendor/bin/phpcs

Simplify the use of origin as there's only which is theme, and update the css to be verified in the test
  governance/nested-governance-processing.php
  tests/test-nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Drop the private access label as it's not necessary
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Update the readme to say that duotone support is not existant
  README.md
Due: none

Correct the inconsistencies and drop the workaraound
  README.md
  governance-schema.json
Due: none

Add support for typography.fontFamilies
  build/index.asset.php
  build/index.js
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add support for typography and others, and mention the limtations for spacing
  README.md
  build/index.asset.php
  build/index.js
  governance/nested-governance-processing.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Attempt to add support for duotone
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Revert duotone support code
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Fix support for all settings save for duotone, and add another example to the README
  README.md
  build/index.asset.php
  build/index.js
  governance/nested-governance-processing.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Switch the use of allowedChildren to allowedBlocks and upgrade the version to 0.2.0
  README.md
  build/index.asset.php
  build/index.js
  governance-rules.json
  governance-schema.json
  governance/rules-parser.php
  src/block-utils.js
  src/nested-governance-loader.js
  tests/private/governance-rules.json
  tests/test-governance-utilities.php
  tests/test-nested-governance-processing.php
  tests/test-rules-parser.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Drop an extra comment
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Correct colors to color
  README.md
Due: none

Re-order the README
  README.md
Due: none

Lookup the setting of a block based on the path of the parent, and go as deep as possible.
  build/index.asset.php
  build/index.js
  src/block-utils.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

REmove limitation for childblocks not being locked in a parent properly
  README.md
Due: none

Add a new filter to make the restrictive/cascading functionality possible, and bake in support for some core blocks that cannot be overriden
  build/index.asset.php
  build/index.js
  build/index.js.map
  src/block-utils.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update the build
  build/index.asset.php
  build/index.js
  build/index.js.map
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Set the default mode to true
  src/block-utils.js
Due: eslint . --ext .js

Update the README with the new filter
  README.md
Due: none

Update packages to latest version, and add a command to automate that
  build/index.asset.php
  build/index.js
  build/index.js.map
  package-lock.json
  package.json
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Accidentally commited the map
  build/index.asset.php
  build/index.js
  build/index.js.map
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Revert packages update so it can be done in another PR
  package-lock.json
  package.json
Due: none

Revert to the previous package-lock
  package-lock.json
Due: none

Ensure build is updated
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update packages and add the map file to the gitignore list
  .gitignore
  build/index.asset.php
  build/index.js
  package-lock.json
  package.json
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Simplify the test setup and add js unit testing framework
  .github/workflows/e2e-tests.yml
  .github/workflows/eslint.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpunit.yml
  .github/workflows/unit-tests.yml
  package-lock.json
  package.json
  src/block-utils.test.js
  tests/jest/babel-transformer.js
Due: eslint . --ext .js

Remove errenous double quote
  .github/workflows/unit-tests.yml
Due: none

Add another test
  src/block-utils.test.js
Due: eslint . --ext .js

Allow the core block lookup to work even without blockSettings
  src/block-utils.js
Due: eslint . --ext .js

Update the blockSettings lookup logic and add a test for it
  src/block-utils.js
  src/block-utils.test.js
Due: eslint . --ext .js

update build code
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js
