Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Expand release instructions for package.json version
  RELEASE.md
Due: none

Fix typo/bad style definiton.
  src/block-locking.jsx
Due: none

Update vip-governance.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update src/block-locking.jsx
  src/block-locking.jsx
Due: none

Add build changes, bump constant to 1.0.7
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update README.md
  README.md
Due: none

Run the unit tests for the lowest and latest versions of wp/php
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: none

Tweak 5.9 to 5.9.0
  .github/workflows/unit-tests.yml
Due: none

Correct wp version and bump plugin version
  .github/workflows/unit-tests.yml
  vip-governance.php
Due: phplint, vendor/bin/phpcs

update packages, and raise the min php version
  .github/workflows/unit-tests.yml
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/composer/platform_check.php
  vendor/seld/jsonlint/README.md
  vendor/seld/jsonlint/bin/jsonlint
  vendor/seld/jsonlint/composer.json
  vendor/seld/jsonlint/src/Seld/JsonLint/DuplicateKeyException.php
  vendor/seld/jsonlint/src/Seld/JsonLint/Lexer.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update dependencies, remove the prev 6.0 test and run a new build
  .github/workflows/unit-tests.yml
  build/index.asset.php
  build/index.js
  package-lock.json
  package.json
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Remove the isValid property from the e2e test
  tests/e2e/default-administrator-rule-check.spec.js
Due: eslint . --ext .js

Restrict the plugin to only the new post/page editor
  README.md
  governance/init-governance.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Clean up the code for loading the plugin, and add the post page as well
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Bump up the plugin version
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Switch the number formatter library for a bespoke solution to make it playground compatible
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs

Add a new blueprint.json file
  README.md
  blueprint.json
Due: none

Add a playground link
  README.md
Due: none

Add a new filter for customizing the default core block list
  build/index.asset.php
  build/index.js
  src/block-utils.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

revert the filter
  build/index.asset.php
  build/index.js
  src/block-utils.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update build files
  build/index.asset.php
  build/index.js
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update package-lock.json version
  package-lock.json
Due: none

Upgrade packages, and add support for regex in block settings in the PHP code
  build/index.asset.php
  build/index.js
  governance-schema.json
  governance/governance-utilities.php
  governance/nested-governance-processing.php
  package-lock.json
  package.json
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Simplify the build process by using webpack
  build/index.asset.php
  build/index.js
  package.json
  tests/jest/babel-transformer.js
  webpack.config.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Simplify the code a lot more
  build/index.asset.php
  build/index.js
  governance/init-governance.php
  governance/nested-governance-processing.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Delete the blank css file
  css/vip-governance.css
Due: none

Up the version
  package.json
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the package-lock
  package-lock.json
Due: none

Attempting to add a test for the nested-governance changes
  build/index.asset.php
  build/index.js
  src/block-locking.jsx
  tests/test-nested-governance-processing.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix the test css to match against
  tests/test-nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Update the tests, add the new filter to the README and add a security.md as well
  README.md
  SECURITY.md
  tests/private/governance-rules.json
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs

Change the occurrence of regex to wildcard
  build/index.asset.php
  build/index.js
  governance/nested-governance-processing.php
  src/block-utils.js
  src/block-utils.test.js
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Run the ci on all php versions
  .github/workflows/unit-tests.yml
Due: none

Adjust the settings and css for WP 6.0
  tests/test-nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Update governance/nested-governance-processing.php
  governance/nested-governance-processing.php
Due: phplint, vendor/bin/phpcs

Simplify the webpack config
  webpack.config.js
Due: eslint . --ext .js

Add a notice when the min php and wp version is not met
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Fix code formatting in README.md
  README.md
Due: none

Update package.json
  package.json
Due: none

Fix the bug where the CSS wasn't applied on published posts correctly
  build/index.asset.php
  build/index.js
  governance/nested-governance-processing.php
  src/index.js
  src/nested-governance-loader.js
  tests/test-nested-governance-processing.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js
