Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Add in the block name validation for the allowed blocks
  governance-rules.json
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Minor tweaks to the schema
  governance-schema.json
Due: none

Revert multiple errors
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs

Remvoe extra space
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Add experimental changes
  css/vip-governance.css
  src/block-locking.jsx
Due: none

Remove privateApi usage and InspectorControls experiments
  governance/init-governance.php
  src/block-locking.jsx
Due: phplint, vendor/bin/phpcs

Remove unused imports, experimental CSS
  css/vip-governance.css
  src/block-locking.jsx
Due: none

Add newline back to CSS file
  css/vip-governance.css
Due: none

Switch the block name validation regex to be on a per rule basis. Also add in support for regex matching, instead of a simple match
  governance-schema.json
  governance/init-governance.php
  src/block-utils.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add support for children inside blocks, and update the readme as well
  README.md
  governance-rules.json
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Remove the extra todo as its done now
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Move the helper function to make it easier to be re-used
  src/block-utils.js
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Update the rules
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update README.md before archiving the repo
  README.md
Due: none

Add a governance panel to wp-admin
  governance/wp-admin-panel.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the readme for the beta
  README.md
  docs/examples/example-1.json
  governance-rules.json
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Simplify the examples in the readme by adding em in there directly
  README.md
  docs/examples/example-1.json
Due: none

Tweak the name of the example
  README.md
Due: none

Update CODEOWNERS to be everyone at once
  .github/CODEOWNERS
Due: none

Update the logic for the new filter, and update the readme with the example
  README.md
  src/block-locking.jsx
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Enable the codeEditor and moveBlocks restrictions, as well as update the readme
  README.md
  governance-rules.json
  governance-schema.json
  governance/block-locking.php
  governance/init-governance.php
  src/block-locking.jsx
  src/index.js
  src/insertion-governance-loader.js
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Show the validation result for the schema in the admin panel, as well as debug info related to the plugin
  governance/init-governance.php
  governance/wp-admin-panel.php
Due: phplint, vendor/bin/phpcs

Update the todo comment on the plugin
  governance/wp-admin-panel.php
Due: phplint, vendor/bin/phpcs

Move the parsing methods to a separate utility function
  governance/governance-utilities.php
  governance/init-governance.php
  governance/wp-admin-panel.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Improve the example even more, and initialize the necessary variables before using em
  README.md
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Introduce analytics into the plugin
  governance/analytics.php
  governance/init-governance.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update the readme to mention the analytics that's collected, and simplify the errors
  README.md
  governance/analytics.php
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Update schema to make allowedFeatures exactly match and not allow duplicates
  governance-schema.json
Due: none

Refactor block-locking to use local variables and filter closure
  governance/block-locking.php
Due: phplint, vendor/bin/phpcs

Reorganize allow block filter items, add "is_" prefix
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Update README TOC and filter section
  README.md
Due: none

Remove "archived" notice, wrong repo
  README.md
Due: none

Expand analytics section
  README.md
Due: none

Fix missing WPVIP link
  README.md
Due: none

Drop the error tracking, and record usage for CSS as well
  README.md
  governance/analytics.php
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Correct the todo comment
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Remove the default rule restrictions
  src/block-utils.js
  src/insertion-governance-loader.js
Due: eslint . --ext .js
