Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

Minor spacing changes to settings page, add current role prefix to governance rules output
  build/index.asset.php
  build/index.js
  governance/settings/settings.js
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Refactor hierarchy logic for insertion and interaction into combined function
  build/index.asset.php
  build/index.js
  src/block-locking.jsx
  src/block-utils.js
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add addition to "Limitations" section for paragraph block locking
  README.md
Due: none

Update filter docs and add new filter to README
  README.md
  src/block-locking.jsx
  src/index.js
Due: eslint . --ext .js

Remove previous isBlockAllowed code
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Fix JS error on settings page when rules error present
  governance/settings/settings.js
Due: eslint . --ext .js

Update README TOC
  README.md
Due: none

New build + bump plugin version
  RELEASE.md
  build/index.js
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_namespaces.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_real.php
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Correct the composer.json command for running php unit tests
  composer.json
  tests/bootstrap.php
  tests/rest/test-rest-api.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_namespaces.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs

Add php unit tests and playright integration
  .github/workflows/playwright.yml
  .gitignore
  composer.json
  package-lock.json
  package.json
  playwright.config.js
  tests/bootstrap.php
  tests/e2e/basic-logic.spec.js
  tests/e2e/globalSetup.js
  tests/phpunit/multisite.xml
  tests/private/governance-rules.json
  tests/rest/test-rest-api.php
  tests/test-governance-utilities.php
  tests/test-nested-governance-processing.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update package lock json
  package-lock.json
Due: none

Installing using composer without dev
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_namespaces.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs

Update the branch being targeted in the workflows
  .github/workflows/eslint.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpunit.yml
  .github/workflows/playwright.yml
Due: none

Use in-memory lock map to avoid editor change warnings
  build/index.asset.php
  build/index.js
  src/block-locking.jsx
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Attempting to use playwright to get e2e tests running
  package-lock.json
  package.json
  playwright.config.js
  tests/e2e/basic-default-rule-check.spec.js
  tests/e2e/basic-logic.spec.js
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Update playwright utils versiona and drop extra themes
  .gitignore
  .wp-env.json
  package-lock.json
  package.json
  playwright.config.js
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Drop extra configs
  package.json
Due: none

Add basic logic-based rule testing and error messages
  composer.json
  governance/rules-parser.php
  tests/test-rules-parser.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Add validation, tests for empty rules and "roles" property errors in default and role rules
  governance/rules-parser.php
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Remove debug validation override
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs

Add additional role rule errors and tests
  governance/rules-parser.php
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Add test for multiple default rules
  governance/rules-parser.php
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Move the media files from the branch to the repo itself
  README.md
  media/vip-governance-admin-settings-animation.gif
Due: none

Removing the playwright stuff to cherry pick the php unit tests
  package-lock.json
  package.json
  playwright.config.js
  tests/e2e/basic-default-rule-check.spec.js
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Remove more of the playwright lines
  .github/workflows/playwright.yml
  .gitignore
Due: none

Add an extra line at the end, and drop the package-json changes
  .gitignore
  package-lock.json
Due: none

Add a bit more info about the type of tests we have
  README.md
Due: none

Fix the name of the plugin in the composer.json
  composer.json
Due: none

Update the test to work as a basic test case, and add in the playwright pieces back in
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.js
  tests/e2e/basic-default-rule-check.spec.js
  tests/e2e/globalSetup.js
Due: eslint . --ext .js

Allow the workflows to run on all Pul Requests
  .github/workflows/eslint.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpunit.yml
  .github/workflows/playwright.yml
Due: none

Tweak the playwright config
  .github/workflows/playwright.yml
  playwright.config.js
Due: eslint . --ext .js

Add test mirroring action
  .github/workflows/mirror-wpcomvip.yml
Due: none

Update mirroring action to use wpcomvip repository
  .github/workflows/mirror-wpcomvip.yml
Due: none

Only run action on automattic repository
  .github/workflows/mirror-wpcomvip.yml
Due: none

Use github.repository for root repo testing
  .github/workflows/mirror-wpcomvip.yml
Due: none

Bump the version to 0.3.0
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Update teh installed file
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs

Normalize README whitespace, use spaces in code blocks
  README.md
Due: none

Manually change TOC to use spaces
  README.md
Due: none

Path conditions:
  phplint: any of: *.php
  vendor/bin/phpcs: any of: *.php
  eslint . --ext .js: any of: *.js
