Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Finish up the tests for block-utils
  src/block-utils.test.js
Due: eslint . --ext .js

Update the instructions for testing
  README.md
Due: none

Update the build
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update the version of the plugin
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Commit the update to the installed file in composer
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs

Beginning to add postType support in place
  build/index.asset.php
  build/index.js
  governance-rules.json
  governance/governance-utilities.php
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix the php errors and don't checkin the map file
  build/index.asset.php
  build/index.js
  governance-rules.json
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Re-write the way the post type is generated and tested
  build/index.asset.php
  build/index.js
  governance-rules.json
  governance-schema.json
  governance/governance-utilities.php
  governance/init-governance.php
  governance/rest/rest-api.php
  governance/rules-parser.php
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Re-write the way the post type is generated and tested
  build/index.asset.php
  build/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix the result lookup bug when a child and parents nested path match
  build/index.asset.php
  build/index.js
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Bump the version to 0.5.0
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Add tests for the new post type changes and update the readme
  README.md
  governance-rules.json
  tests/private/governance-rules.json
  tests/test-governance-utilities.php
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Correct the README, and consolidate the workflows that use wp-env to speed them up
  .github/workflows/unit-tests.yml
  .github/workflows/wp-tests.yml
  README.md
Due: none

Correct the tests
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs

Update README.md
  README.md
Due: none

Add generic types to the roles and begin updating th admin UI
  governance/rest/rest-api.php
  governance/settings/settings.js
  governance/settings/settings.php
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Fix the snake case usage
  governance-schema.json
  governance/governance-utilities.php
Due: phplint, vendor/bin/phpcs

Add more tests to test out the role an dpost type logic
  tests/test-governance-utilities.php
Due: phplint, vendor/bin/phpcs

Add support for showing the post type alongside the role in the admin UI
  governance/rest/rest-api.php
  governance/settings/settings.css
  governance/settings/settings.js
  governance/settings/settings.php
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Get the UI work for picking rules and types properly
  governance/governance-utilities.php
  governance/settings/settings.js
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Hide the json output as well
  governance/settings/settings.js
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Reverting install operation
  vendor/composer/installed.php
Due: phplint, vendor/bin/phpcs

Fix the spacing in the README, and adjust the wording of the roles/post types dropdown
  README.md
  build/index.asset.php
  build/index.js
  governance/settings/settings.view.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update the animation gif with the new admin UI
  vip-governance-admin-settings-animation.gif
Due: none

Bump the version to 0.6.0
  vendor/composer/installed.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Tweak the gradient to be values, rather than variables
  README.md
Due: none

Add tests for the nested-governance-loader
  src/nested-governance-loader.js
  src/nested-governance-loader.test.js
Due: eslint . --ext .js

Upgrade all packages and make a new build
  .eslintrc.js
  build/index.asset.php
  build/index.js
  package-lock.json
  package.json
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Disable the playwright e2e tests
  .github/workflows/wp-tests.yml
  package.json
  tests/e2e/basic-default-rule-check.spec.js
Due: eslint . --ext .js

Add the missing command back
  package.json
Due: none

Revert package upgrades
  package-lock.json
  package.json
Due: none

Update the packages again
  package-lock.json
  package.json
Due: none

Reverse the e2e test deletion
  .github/workflows/wp-tests.yml
Due: none

Revert the color verification code
  tests/e2e/basic-default-rule-check.spec.js
Due: eslint . --ext .js

Update the e2e tests to actually use a locked down governance rules file
  .wp-env.json
  governance/settings/settings.php
  tests/e2e/basic-default-rule-check.spec.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Rename the file, and remove the redundant code that loads the private dir for php tests
  tests/bootstrap.php
  tests/e2e/default-administrator-rule-check.spec.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Check if the CSS was applied correctly as part of the e2e tests as well
  .wp-env.json
  tests/e2e/default-administrator-rule-check.spec.js
Due: eslint . --ext .js

Add more default blocks
  src/block-utils.js
Due: eslint . --ext .js

Run a test to see if the WP env starts or not
  .github/workflows/wp-tests.yml
Due: none
