Repository Automattic/vip-governance-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js

.lintstagedrc:

{
    "*.php": [
        "phplint",
        "vendor/bin/phpcs"
    ],
    "*.js": [
        "eslint . --ext .js"
    ]
}

Revert changes to the linting
  .lintstagedrc
  src/nested-governance-loader.js
Due: eslint . --ext .js

Unite all schemas within our nation, one schema to rule them all
  governance-rules.json
  insertions-governance.json
  interactions-governance.json
Due: none

Update the parsing according to the new schema
  governance/init-governance.php
  src/index.js
  src/insertion-governance-loader.js
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Pick the first rule from the array of 1
  src/index.js
Due: eslint . --ext .js

Ensure the first element of the array is always returned for the rules
  governance/init-governance.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add basic PHPUnit testing setup with dummy method
  .gitignore
  composer.json
  governance/rules-validator.php
  phpunit.xml
  tests/bootstrap.php
  tests/test-rules-validator.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Extend tests, add WP function support with wp-env testing
  .wp-env.json
  composer.json
  composer.lock
  governance/rules-parser.php
  governance/rules-validator.php
  phpunit.xml
  phpunit.xml.dist
  tests/bootstrap.php
  tests/test-rules-parser.php
  tests/test-rules-validator.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Add updated composer lint script and launch.json for testing
  .vscode/launch.json
  composer.json
Due: none

Add test run action
  .github/workflows/phpunit.yml
Due: none

Fix test running on latest wp-env version
  composer.json
Due: none

Fix the nested settings problem where only the first one was picked
  governance-rules.json
  governance/init-governance.php
  src/nested-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Skip allowed Children
  src/nested-governance-loader.js
Due: eslint . --ext .js

Drop the deniedBlocks, only allowedBlocks will exist
  governance-rules.json
  governance/init-governance.php
  src/insertion-governance-loader.js
  src/nested-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add the missing s in default
  governance-rules.json
Due: none

Add basic JSON schema validation rules
  governance-rules.json
  governance-schema.json
Due: none

Add rule definitions to exclude valid properties based on rule type
  governance-schema.json
Due: none

Differentiate outer and inner block settings properties, add better descriptions and examples
  governance-schema.json
Due: none

Get a single rule composed of the proper allowedBlocks and blockSettings
  governance-rules.json
  governance/init-governance.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Small descriptive schema updates
  governance-schema.json
Due: none

Fix the correct key name
  governance/init-governance.php
  src/index.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Drop a bad else
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Use parser to load rules, add i18n text for errors
  governance/init-governance.php
  governance/rules-parser.php
  vip-governance.php
Due: phplint, vendor/bin/phpcs

Add failing test that should be fixed with schema validation
  composer.json
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Run parser against schema, pass tests
  composer.json
  composer.lock
  governance/rules-parser.php
  tests/test-rules-parser.php
Due: phplint, vendor/bin/phpcs

Add a version to the schema
  governance-rules.json
  governance-schema.json
Due: none

Fix governanceRule always returning an empty array
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Remove rules index from rule testing
  governance/init-governance.php
Due: phplint, vendor/bin/phpcs

Add npm run build:watch command
  package.json
Due: none

Pluralize governance rules
  governance/init-governance.php
  src/index.js
  src/insertion-governance-loader.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add configuration-driven block locking. Only applies disabled effect to blocks.
  src/block-locking.jsx
  src/index.js
Due: eslint . --ext .js

Remove block locking and editing modification restrictions
  governance/block-locking.php
  governance/init-governance.php
  src/block-locking.jsx
  src/index.js
  vip-governance.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Reword the readme to make it clearer
  README.md
Due: none

Attempting to make the error messages more friendly
  governance-rules.json
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs

Updating the schema to be a bit more stricter
  governance-rules.json
  governance-schema.json
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs

Add block locking with useBlockEditingMode
  src/block-locking.jsx
Due: none

Add source maps for npm start
  package.json
Due: none

Fix regex matching in block locking, refactor block regex matching function to shared library
  src/block-locking.jsx
  src/block-utils.js
  src/insertion-governance-loader.js
Due: eslint . --ext .js

Change lockout code to avoid double-locking inner blocks to prevent CSS layout issues
  src/block-locking.jsx
  src/index.js
Due: eslint . --ext .js

Updating the schema rules to be stricter
  governance-rules.json
  governance-schema.json
Due: none

Adding in block name validation
  governance-rules.json
  governance-schema.json
  governance/init-governance.php
  governance/rules-parser.php
Due: phplint, vendor/bin/phpcs
